extends layout

block content
    div#content
        div#room
        div#room-list
        div#messages

        form#send-form
            input#send-message
            input#send-button(type='submit' value='Send')
            div#help
                | Chat commands:
                ul
                    li Change nickname:
                        code /nick [username]
                    li Join/create room:
                        code /join [room name]

    script(src='https://cdn.socket.io/socket.io-1.4.4.js')
    script(src="//cdn.bootcss.com/jquery/1.8.1/jquery.js")
    script(src='/js/chat.js')
    script(src='/js/chat_ui.js')